*{margin:0px;padding:0px;}
h1{margin:0px;padding:0px 0px;display:inline-block;text-align:center;}
p{font-size:small;padding:0px 0px;}
hr{border:0.5px solid#e0e0e0;margin:0px;padding:0px;}
body{font-family:Arial,Helvetica,sans-serif;width:300px;user-select:none;}
div{margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;}
button{height:25px;width:70px;outline:none;margin-bottom:15px;}
.a0x00011,.a0x00002,.a0x00004,.a0x00004A,.a0x00005{width:100%;}
.a0x00011{padding-top:10px;padding-bottom:5px;display:flex;justify-content:center;align-items:center;}
.a0x00002{display:flex;justify-content:center;align-items:center;padding-top:5px;padding-bottom:5px;}
.a0x00004{padding-top:5px;padding-bottom:15px;display:flex;justify-content:center;align-items:center;}
.a0x00004A{display:none;padding-top:5px;padding-bottom:15px;justify-content:center;align-items:center;}
.a0x00014A p{color:#ff2c2c}
.a0x00005{background-color:#f3f3f3;margin:0px;padding:15px 0px;width:100%;display:grid;grid-template-columns:1fr auto;}
.a0x00051{padding-left:12px;}
.a0x00052{width:15px;padding-right:15px;}
.a0x00003{padding:10px 0px;display:flex;justify-content:center;align-items:center;}
.a0x00031{width:50%;}